<div class="flex justify-between">
  <div class="farm__list py-10 px-8  min-w-[41rem]">
    <p class="text-darkGreen text-2xl font-bold mb-9">Farmers</p>
    <label class="input-group">
      <span class="bg-transparent border border-r-0 bg-paleGreen rounded__edge--left h-[5rem]">
        <img src="./assets/img/search.svg" alt="Search icon">
      </span>
      <input type="text" placeholder="Search Farmers"
             class="border-0 bg-paleGreen rounded__edge--right text-darkGreen placeholder-darkGreen"/>
    </label>
    <div class="h-[85vh] overflow-hidden overflow-y-scroll">
      <div  *ngFor="let user of users" class="my__flex--btwn rounded-2xl w-100 bg-[#e7e4d5] py-8 px-6 mb-8 cursor-pointer hover:bg-[#A8A29E] transition-all duration-200">
        <img src="./assets/img/farm-icon.svg" alt="Farms svg">

        <div class="pl-7 mr-auto text-2xl" >
          <p class="text-black font-bold">{{user?.first_name}}</p>
          <!--          <p class="text-black font-extralight">{{farm?.location}}</p>-->
        </div>

        <div class="dropdown dropdown-end">
          <label tabindex="0" class="cursor-pointer">
            <img src="./assets/img/options.svg" alt="Options svg">
          </label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="maps h-screen w-full rounded-2xl">
    <div id="map" class="rounded-2xl"></div>
  </div>

  <div class="farm__list py-10 px-8  w-[0] hidden transition-all duration-1000" [ngClass]="{'show ': sideOpen}">
    <div class="bg-paleGreen my__flex--ctr flex-col py-11 rounded-2xl">
      <div class="bg-lightGreen w-56 h-56 rounded-full my__flex--ctr text-darkGreen font-extraboldbold text-[5.6rem] leading-none"><p>MW</p></div>
      <p class="text-darkGreen text-3xl font-bold mt-9">Mzee Waziri</p>
    </div>

    <h2 class="text-darkGreen text-2xl font-bold mt-6">Farm Name</h2>
    <p class="text-darkGreen text-2xl ">Kilgoris</p>

    <h2 class="text-darkGreen text-2xl font-bold mt-9">Crop Name</h2>
    <div class="my__flex--btwn flex-wrap mt-5" *ngFor="let farmCrop of farmCrops">
      <div class="my__flex--ctr flex-col w-32">
        <img src="./assets/img/banana.svg" alt="Fruit img">
        <p class="text-darkGreen text-2xl mt-3">{{farmCrop?.crop?.name}}</p>
      </div>
    </div>

    <!--    <h2 class="text-darkGreen text-2xl font-bold mt-9">Crop Stages</h2>-->
    <!--    <ul class="steps steps-vertical ">-->
    <!--      <li class="step step-success text-darkGreen text-2xl">Planting</li>-->
    <!--      <li class="step step-success text-darkGreen text-2xl">Weed Control</li>-->
    <!--      <li class="step step-success text-darkGreen text-2xl">Harvesting</li>-->
    <!--      <li class="step step-success text-darkGreen text-2xl">Processing</li>-->
    <!--    </ul>-->

    <h2 class="text-darkGreen text-2xl font-bold mt-9">Recent Media & Files</h2>
  </div>
</div>
